div.gallety{
    margin: 5px;
    border: 1px solid #777;
    float: left;
    width: 180px;
}
div.gallety:hover{

    width: 100%;
    height: auto;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.disc{
    padding: 15px;
    text-align: center;
}
.sprite{
    background: url(../img/houses.png);
}
.engineers{
    
}

.shadow{

}